:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --white-color: #FFFFFF;
    --action-color: #2196F3;
    --signature-color: rgba(255, 255, 255, 0.6);
    --main-bg: #FFFFFF;
    --footer-bg: #2F303A;
    --additional-bg: #F5F4FA
}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg);

    font-family: 'Roboto', sans-serif;  
    letter-spacing: 0.03em;
}

.no-dots {
    list-style-type: none;
}

/* Шапка */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--action-color);

    font-size: 26px;
    line-height: 1.2;
}

.nav-list .item {
    color: var(--main-text-color);
}

.nav-list .item:hover,
.nav-list .item:focus {
    color: var(--action-color);
}

.nav-list .item.current {
    color: var(--action-color);
}


.contacts {
    color: var(--secondary-text-color);
}

.nav-list .item,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.contacts:hover,
.contacts:focus {
    color: var(--action-color);
}




/* Первая секция */

.general-info {
    color: var(--white-color);
    background-color: var(--footer-bg);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    cursor: pointer;
    font-family: inherit;
}

.button.main {
    background-color: var(--action-color);
    color: var(--white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;
}



/* Вторая секция */

.benefits .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
}

.benefits .about {
    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.7;
}



/* Третья секция */

.secondary-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* Четвертая секция */

.team {
    background-color: var(--additional-bg);
}

.team .person {
    font-weight: 500;
}

.team .about {
    color: var(--secondary-text-color);
}

.team .person,
.team .about {
    font-size: 16px;
    line-height: 1.18;
}


/* Подвал на страницах */

.cellar {
    background-color: var(--footer-bg);
}

.cellar .location {
    color: var(--white-color);
}

.cellar .links {
    color: var(--signature-color);
}

.cellar .location,
.cellar .links {
    font-size: 14px;
    line-height: 1.7;
}

/* Portfolio */

.button.choice {
    background-color: var(--additional-bg);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.button.choice:hover,
.button.choice:focus {
    background-color: var(--action-color);
    color:var(--white-color);
}

.portfolio .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .about {
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.87;

}